@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

.Home {
  position: relative;
  font-family: "Poppins", sans-serif;
}

.canvas-background {
  width: 100%;
}

.girl-image {
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 40%; /* Increase size */
  height: auto; /* Maintain aspect ratio */
  z-index: 1; /* Ensure girl image is on top */
}

.about {
  position: absolute;
  top: 20%;
  left: 30%; /* Align to the left */
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensure about section is on top */
  color: aliceblue;
}

/* .overlay-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: bounce 1s infinite alternate; /* Apply the bounce animation */
/* opacity: 0;
} */

/* @keyframes bounce {
  0% {
    transform: translate(-50%, -50%) translateY(0); /* Start position */
/* }
  /* 100% {
    transform: translate(-50%, -50%) translateY(-20px); /* End position */
/* } */
/* } */
